<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Testing Mix It!</title>

    <script src="../js/jquery-1.11.0.js"></script>    
    <script src="../js/jquery.mixitup.min.js"></script> 
    <script src="../js/bootstrap.js"></script> 
    <script src="../js/main.js"></script>  
    <script src="../js/fblogin.js"></script>  
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">


  </head>

  <body class="MainScreen">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">what is this?</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand nav-mytitle">Gratis Gear</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <div id="fbloginbutton">
            <!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>-->
            <div id="fb-root"></div>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" scope="public_profile,email" onlogin="checkLoginState();"></div>
            </div> 
            <div class="nav navbar-nav navbar-right" id="status">
            </div>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="Container">
    {% block itemcontent %}
    {% endblock %}
    {% block fblogin %}
    {% endblock %}
      <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
      </div>
    </div>
  </body>
</html>